body {
  background: linear-gradient(to right, 
    rgb(5, 5, 15),  
    rgb(10, 10, 30),
    rgb(20, 10, 40),
    rgb(10, 10, 30),
    rgb(5, 5, 15)   
  );
  color: #ffffff;
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}
  
.home-container {
  padding: 20px;
}
  
.search-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-section input {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 20px;
  margin-right: 10px;
}

.search-section .search-btn {
  padding: 10px 20px;
  background: linear-gradient(90deg, #ff416c, #ff4b2b);
  border: none;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.movie-grid {
  display: flex; 
  flex-wrap: wrap; 
  gap: 20px; 
  padding: 30px;
}

.movie-card {
  width: 200px;
  height: 300px;
  cursor: pointer;
  text-align: center;
}

.movie-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.movie-card img:hover {
  transform: scale(1.05);
}

.movie-card h3 {
  margin-top: 10px;
}
